* {
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 12px;
    background: lightgray;
}

.router {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    padding: 1rem 1.2rem;
}
.router .page {
    flex: 1;
    border: 1px dashed black;
    padding: 1rem 1.2rem;
    max-height: calc(100vh - 4.8rem);
    background: white;;
}
.router .page > div {    
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.router .page .blank {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: lightgray;
}
.router .nav {
    padding: 1rem 1.2rem;
}
.router .nav a {
    display: block;
}
.router .nav h6 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

.stateful-parent,
.stateful-parent-two {
    padding: 1rem;
}

.stateful-parent {
    background-color: aquamarine;
}
.stateful-parent-two {
    background-color:bisque;
}
.stateless-child,
.stateless-child-two {
    margin: 1rem 0;
    padding: 1rem;
}

.stateless-child {
    border: 2px solid red;
}
.stateless-child span {
    font-weight: bold;
    color:red;
}
.stateless-child-two {
    border: 2px solid green;
}
.stateful-parent-two input {
    border: none;
    outline: none;
    padding: 1.2rem;
    border-radius: 0.4rem;
    margin: 0.5rem 0;
}

.gram-image {
    width: 40rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.gram-image .material-icons {
    color: white;
    font-size: 7rem;
}
.image-path {
    display: flex;
    flex-direction: row;
}
.image-path .gram-image {
    margin: 1rem;
}

.gram-user-detail {
    display: block;
}
.detail-row {
    display: flex;
    flex-direction: row;
    padding: 1rem 1.2rem;
}
.detail-row .user-pic {
    background: lightgray;
    border-radius: 100%;
}
.user-pic.small {
    min-width: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    max-width: 5rem;
}
.user-pic.large {
    min-width: 7.5rem;
    min-height: 7.5rem;
    max-height: 7.5rem;
    max-width: 7.5rem;
}
.detail-row .user-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.2rem;
}
.detail-row .user-detail h5 {
    color: darkgray;
    padding: 0.5rem 0;
}
.detail-row .user-detail > * {
    display: flex;
    align-items: center;
}

.gram-nav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(200 200 200 / 20%);
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 50px 0px rgb(100 100 100 / 20%);
    padding-bottom: 1rem;
}
.gram-nav h2 {
    letter-spacing: 0.25rem;
    color: darkgray;
}
.gram-nav .nav-search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gram-nav .nav-search input {
    border: 1px solid lightgray;
    border-radius: 0.4rem;
    padding: 0.5rem;
}
.gram-nav .nav-links {
    display: flex;
}
.gram-nav .nav-links .nav-link-item {
    opacity: 0.2;
    margin: 0 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gram-nav .nav-links .nav-link-item.active {
    opacity: 1;
}

.gram-user-card {
    width: 40rem;
    margin: 1rem auto;
    border: 1px solid lightgray;
}
.gram-user-card .gram-image {
    width: 100%;
}
.gram-user-card .gram-user-detail {
    max-width: 40rem;
}

.user-profile {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 61rem;
    max-width: 61rem;
    padding-top: 5rem;
}
.user-profile .user-detail h5 {
    font-size: 2rem;
}
.user-profile .profile-posts {
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
}
.user-profile .gram-image {
    max-height: 20rem;
    max-width: 20rem;
    margin-bottom: 0.5rem;
}
.user-profile .user-pic.large {
    min-width: 12.5rem;
    min-height: 12.5rem;
    max-height: 12.5rem;
    max-width: 12.5rem;
}

.search-results { 
    padding: 1rem 2rem;
}
.search-results h4 {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    margin: 2rem 0rem;
}
.search-results .gram-user-card {
    margin: 1rem;
    display: inline-block;
    width: unset;
}
.search-results .gram-user-card .gram-image {
    width: 25rem;
    height: 25rem;
}